fastapi==0.109.0
uvicorn[standard]
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-dotenv==1.0.0
sqlalchemy==2.0.16
alembic==1.11.1
python-multipart==0.0.6
fastapi-login==1.9.3
psycopg2-binary==2.9.6
pydantic-settings==2.1.0
httpx==0.25.2
pytest==8.0.1
pytest-env==1.1.3
